<div class="login-wrapper"><br><br><br>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="login-text">
                <h2>Resend Email</h2>
                <h4>Enter Your Email Address</h4>
              </div>
          </div>
          <div class="col-md-7">
              <div class="card">
                  <div class="card-body">
                      <div class="login_img">
                          <img src="../../../../assets/afrihow_sm.jpg" class="img-fluid" alt="AfriHow Logo">
                      </div>
                      <!-- <h4 class="text-center">AfriHow</h4> -->
                      <form [formGroup]="resendEmailForm" (ngSubmit)="resendEmail()">
                          <div>
                            <input type="email" required class="form-control" formControlName="forgetEmail" placeholder="Email Address">
                          </div>
                          <div class="form-row mt-2">
                              <div class="col-md-6">
                                <button type="submit" [disabled]="getDisableForgetState" class="btn btn-info btn-login">
                                  <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                                  Resend Email</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div><br><br><br>
</div>
