<div class="login-wrapper"><br><br><br>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="login-text">
                <h2>Reset Password</h2>
                <h4>Enter New Password</h4>
              </div>
          </div>
          <div class="col-md-7">
              <div class="card">
                  <div class="card-body">
                      <div class="login_img">
                          <img src="../../../../assets/afrihow_sm.jpg" class="img-fluid" alt="AfriHow Logo">
                      </div>
                      <!-- <h4 class="text-center">AfriHow</h4> -->
                      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                          <div>
                            <input type="password" required class="form-control" formControlName="newPassword" placeholder="Enter New Password">
                          </div>
                          <div>
                            <input type="password" required class="form-control" formControlName="confirmNewPassword" placeholder="Confirm New Password">
                          </div>
                          <div>
                            <input type="hidden" value="{{id}}" name="uid">
                          </div>
                          <div class="form-row mt-2">
                              <div class="col-md-6">
                                <button type="submit" [disabled]="getDisableResetPasswordState" class="btn btn-info btn-login">
                                  <i *ngIf="disableBtn" class="fa fa-spinner fa-spin"></i>
                                  Reset Password</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div><br><br><br>
</div>
<p>reset-password works!</p>
