<!-- top navbar  -->
<div class="top_navbar d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><a href="#">FAQs</a></li>&nbsp;&nbsp;&nbsp;|
                    <li><a href="">+(234) 8034331199</a></li>&nbsp;&nbsp;|
                    <li><a href="">contact@derightschools.com.ng</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="pull-right">
                    <!-- <li><a href="#">Login</a></li> -->
                    <li><a href="#">School Portal</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-2" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/index"><img src="./../../../assets/logo.png" class="img-fluid"></a><button class="navbar-toggler navbar-toggler-right" style="color: #000000 !important;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/about">About</a></li>
                <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li> -->
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead2">
  <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase text-white font-weight-bold">About Us</h1>
              <hr class="divider my-4"/>
          </div>
      </div>
  </div>
</header>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="mt-0">WELCOME NOTE FROM THE PROPRIETRESS</h2>
              <hr class="divider my-4" />
              <p class="mb-4" style="font-size: 18px; font-weight: 600;">Thank you for taking your time to visit our website.</p>
              <p class="mb-4" style="font-size: 18px; font-weight: 600;">For over twenty years Right Foundation has been in the forefront in the provision of qualitative education in Surulere, Lagos Nigeria. Academic, moral, spiritual and personal development of our pupils is our focus.</p>
              <p class="mb-4" style="font-size: 18px; font-weight: 600;"></p>
              <span class="" style="font-size: 18px;"><b>- Abigael OLAJUMOKE</b></span>
              <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Learn More</a> -->
          </div>
      </div>
      <div class="clearfix"></div><br><br><br>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8 text-center">
            <h2 class="mt-0">About Us</h2>
            <hr class="divider my-4" />
            <p class="mb-4" style="font-size: 18px; font-weight: 600;">Right Foundation Childreen School, a bilingual nursery and primary school was established in year 2000 to provide nursery and basic education to children from ages 2 years(tender class) to 12 years(grade 6). The school is blessed with season professional teachers under the leadership of <b>Mrs. Abigael Olajumoke</b> a graduate of University of Lagos with Bachelor in Education(Guidance and Counselling)/Economics.</p>
            <p class="mb-4" style="font-size: 18px; font-weight: 600;">The school is located in a serene environment at 58/59, Alhaji Animashuan Street, off Omilani Busstop, Ijeshatedo, Surulere, Lagos. The school can boast of decent accommodation conducive for learning. </p>  <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Learn More</a> -->
        </div>
      </div><br><br><br>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8 text-center">
            <h2 class="mt-0">Our Vision</h2>
            <hr class="divider my-4" />
            <p class="mb-4" style="font-size: 18px; font-weight: 600;">To be the preferred educational institution.</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8 text-center">
            <h2 class="mt-0">Our Mission</h2>
            <hr class="divider my-4" />
            <p class="mb-4" style="font-size: 18px; font-weight: 600;">Providing qualitative education through qualified teachers in a conducive environment to guarantee a secured future for our pupils, their parents and the nation.</p>
        </div>
      </div>
  </div>
</section>
<!-- Contact-->
<section class="page-section bg-white" id="contact">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="mt-0">Let's Get In Touch!</h2>
              <hr class="divider my-4" />
              <p class="text-muted mb-5">Interested in knowing more, kindly give us a call, shoot us an email or pay us a visit.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
              <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
              <div>+234 (803) 433-1199</div>
          </div>
          <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fas map-marker-alt fa-3x mb-3 text-muted"></i>
            <div>58/59, Alhaji Animashaun Street, Ijeshatedo, Surulere, Lagos, Nigeria</div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
              ><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="mailto:contact@derightschools.com.ng">contact@derightschools.com.ng</a>
          </div>
      </div>
  </div>
</section>
<footer class="bg-dark py-2">
  <div class="container"><div class="small text-center text-muted mt-2"><a href="#" style="text-decoration: none; color: #fff; font-size: 16px;">Copyright © 2020 -Right International School</a></div></div>
</footer>
